{%- assign translation = site.data.language[page.lang] -%}
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
<div class="sidebar-module">
  <ul class="list-group">
	<a class="list-group-item active">
	  <h4 class="list-group-item-heading">{{ translation.selectlang }}</h4>
	</a>
	<li class="list-group-item"><a href="{{ site.baseurl }}/ar/">العربية</a></li>
	  <li class="list-group-item"><a href="{{ site.baseurl }}/en/">English</a></li>
	  <li class="list-group-item"><a href="{{ site.baseurl }}/ur/">اردو</a></li>
	  <li class="list-group-item"><a href="{{ site.baseurl }}/ps/">پښتو</a></li>
	  <li class="list-group-item"><a href="{{ site.baseurl }}/bn/">বাংলা</a></li>
	  <li class="list-group-item"><a href="{{ site.baseurl }}/hi/">हिन्दी</a></li>
	  <li class="list-group-item"><a href="{{ site.baseurl }}/as/">অসমীয়া</a></li>
	  <li class="list-group-item"><a href="{{ site.baseurl }}/ta/">தமிழ்</a></li>
	  <li class="list-group-item"><a href="{{ site.baseurl }}/tr/">Türkçe</a></li>
	  <li class="list-group-item"><a href="{{ site.baseurl }}/rh/">Rohingya</a></li>
	  <li class="list-group-item"><a href="{{ site.baseurl }}/ug/">ئۇيغۇرچە</a></li>
	<!-- {%- for exlinks in site.data.links -%}
	<li class="list-group-item"><a href="{{ exlinks.link }}" target="_blank">{{ exlinks[page.lang] }}</a></li>
	{%- endfor -%} -->
  </ul>
</div>
</div>