---
layout: default
---
<div class="blog-post">
            <h2 class="blog-post-title">{{ page.title }}</h2>
			{%- if page.lastdate -%}
			<p class="blog-post-meta">تم التحرير في النهاية {{ page.lastdate | date:"%B %d, %Y" }} by <a href="#">{{ site.author }}</a></p>
			{%- else -%}
            <p class="blog-post-meta">{{ page.date | date:"%B %d, %Y" }} by <a href="#">{{ site.author }}</a></p>
			{%- endif -%}
			<p><span class="glyphicon glyphicon-bookmark"></span> <span class="label label-default">{{ page.categories }}</span></p>
			<p><span class="glyphicon glyphicon-tags"></span> {%- for tag in page.tags -%}<span class="label label-default">{{ tag }}</span> {%- endfor -%}</p>
			<hr>
			<span style="display:block;text-align:center"><img src="{{ page.feature_image }}"></span>
            {{ content }}
            {%- include post_pagination.html -%}
</div>
